<%= stylesheet_link_tag 'admin' %>

<%= render 'partials/nav' %>

<%= render 'partials/show_logo' %>

<button onclick="window.location.href='/videos/new'">Add A Video To The Site</button>


<%= render 'partials/footer' %>