<style>
  a {
    text-decoration: none;
    color:white;
  }
</style>

<a class='menu-trigger'>
  <span>Menu</span>
</a>
<div class="nav3 nav2">
  <div class="info">
    <img class="x" src="https://png.icons8.com/xbox-x/ios7/1600"/>
    <ul>
      <li style="cursor: pointer;" onclick="window.location.href='/'">Home</li>
      <li>About</li>

      <li>Loan Options</li>

      <li style="cursor: pointer" onclick="window.location.href='/application_process'">Application Process</li>
      <li style="cursor: pointer;" onclick="window.location.href='/video_gallery'">Video Gallery</li>
      <li style="cursor: pointer;" onclick="window.location.href='https://blink.mortgage/app/login/partner/V44Z215Q'">24/7 Pre-Approval</li>

      <li style="cursor: pointer;" onclick="window.location.href='/team'">Our Team</li>
      <li style="cursor: pointer;" onclick="window.location.href='/contact'">Contact Us</li>


      <% if current_user %>
          <li style="cursor: pointer;" onclick="window.location.href='/admin'">Admin</li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
      <% end %>

    </ul>
  </div>
</div>