


html,body {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: 0;
  overflow: hidden;
}

.content {
  width: 600px;
  height: 400px;

  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
  background:white;
  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4);


}

.content img {
  width: auto;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  opacity:0;
  position: relative !important;
  top: 0;
}


.content h1 {
  font-family: 'Cardo', serif;
  text-transform: uppercase;
  color: white;
  font-size: 50px;
  font-weight: 100; letter-spacing: 1px;

  width: 550px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 0px;
  padding-bottom: 5px;
  opacity: 0;
  padding-top: 5px;
  z-index: 9999999999;


  background: -webkit-linear-gradient(black, rgba(0,0,0,0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transform: translateY(30px);



}


.move-up {
  animation: move-up 700ms ease-in-out forwards 1 300ms;
}

.content button {
  width: 250px;
  height: 50px;
  border: none;
  color: white;
  opacity: 0;
  background: #4d7e15;
  font-family:"Helvetica Neue",sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-left: 10px;
  margin-top: 30px;
  cursor: pointer;
  transform: translateY(30px);

  box-shadow: 0 2px 5px 0 rgba(0,0,0,1);
  transition: all 400ms ease-in-out;
  animation-delay: 300ms;

}

.content button:hover {
  box-shadow: 0 2px 5px 0 rgba(10,10,10,1);

}













.second-panel {
  width: 100%;
  height: 100%;
  background: white;
  position: relative;
  overflow: hidden;
}

.right-curve {
  position: absolute;
  right: -20%;
  top: -150px;
  width: 60%;
  height: 150%;
  background: url(http://4.bp.blogspot.com/-DOtkaaLe6S4/U3d9BxqDI6I/AAAAAAAAH1w/H9-dYvBj_9o/s1600/Sweet-Home-Wallpapers-Wallpapers-Home-1.jpg) center center no-repeat;
  background-size: cover;
}

.panel {
  position: relative;

}
.stripe {
  width: 100%;
  background-color: rgb(51,51,51);
  height: 900px;
  position: absolute;
  right: -45% ;
  transform: skew(-15deg) rotate(-55deg);
  box-shadow: 1px 3px 30px rgba(0,0,0,0.4);
  overflow: hidden;
}

.panel.light .stripe {

}

.second-panel-content {
  position: absolute;
  width: 450px;
  margin-left: 100px;
  margin-top: 150px;
  text-align: left;
}

.no-stripe{
  background:none !important;
  border-radius: .2em;
  width: 600px !important;
  color:white !important;
  box-shadow: none !important;

}

.no-stripe h1, .no-stripe p {
  color: white !important;
}

.second-panel-content h1 {
  font-family: "Open Sans",sans-serif;
  text-transform: uppercase;
  color: black;

}

.second-panel-content p {
  font-family: "Open Sans",sans-serif;
}





.second-panel-content button {
  text-transform: uppercase;
  color: white;
  border: none;
  font-weight: bold;
  height: 50px;
  width: 250px;
  font-size: 11px;
  border-radius: .1em;
  margin-top: 30px;
  cursor: pointer;
  background: #4c7d15;
  font-family:"Helvetica Neue",sans-serif;
  letter-spacing: 1px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  transition: all 400ms ease-in-out;
}

.stripe2 {
  left: -40%;
  transform: skew(15deg) rotate(55deg);
}

.stripe2 img {
  transform: skew(-15deg) rotate(-55deg) scale(1.4);

}

.panel2 {
  position: absolute;
  right: 70px;
  width: 450px;
  margin-left: 100px;
  margin-top: 150px;
  text-align: right;
}




.second-panel {
}

.panels {
  width: 25%;
  height: 102%;
  background: red;
  display:inline-block;
  margin: -2px;
  padding: 0;
  position: relative;
  text-align: center;
}

.box {
  position: absolute;
  bottom: 100px;
  width: 80%;
  height: 200px;
  background: white;
  display: block;
  margin:  0 auto;
  left: 0;
  right: 0;
  box-shadow: 0 2px 5px 1px rgba(5, 5, 5, 0.4);

}

.box button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #4c7d15;
  left: 0;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}


.box h1 {
  font-family: "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  font-size: 20px;
  margin-top: 50px;
}

.loan-options {
  color: white;
  background: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
  font-size: 60px;
}

.panel-message {
  position: absolute;
  top: 100px;
  left:0;
  width: 100%;
  height: 40px;
  z-index: 99;

  text-align: center;
  font-family: "Helvetica Neue",sans-serif;
}

.panel-message h1 {
  background: white;
  color: black;
  width: 500px;
  box-shadow: 0 2px 5px 1px rgba(5, 5, 5, 0.4);
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: .1em;
}






.footer2 {
  width: 100%;
  height: 100%;
  background: url(../green-bg.png);
  position: relative;
  text-align: center;
}

.footer2-text h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  color: white;
  text-transform: uppercase;
}

.footer2-text p {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  width: 500px;
  display: block;
  margin: 0 auto;
  line-height: 25px;
}


.contact-left-side {
  float: left;
  text-align: left;
  margin-left:50px ;

}

.contact-right-side input {
  display: block;
  width: 200px;
  background: none;
  border: 1px solid white;
  height: 50px;
  border-radius: .2em;
}

.contact-right-side textarea {
  height: 300px !important;
}

::-webkit-input-placeholder {
  color: white;
}

.contact-right-side{
  text-align: left;

}

.contact-right-side button {
  color: white;
  background: rgb(40,40,100);
  border: none;
  width: 150px;
  height: 60px;
}


.both-footer {
  position: absolute;
  margin-top: 250px;
  width: 100%;
}

.left-footer-side {
  width: 300px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  transform: translateY(-100px);
  text-align: left;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.left-footer-side h1 {

}

.right-footer-side {
  width: 300px;
  height: auto;
  display: inline-block;
  text-align: left;

}

.footer-text h1 {
  margin-top: 20px !important;
}

.right-footer-side button {
  width: 150px;
  height: 40px;
  background: #4c7d15;
  color: white;
  margin-top: 10px;
  border-radius: .2em;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
  margin-bottom: 40px;
}



.footer-text {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.footer-text h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  color: white;
  margin-top: 100px;
}

.footer-text p {
  width: 450px;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
  display: block;
  margin:0 auto;
  line-height: 25px;

}

.both-footer {
}

.right-footer-side input, textarea {
  width: 100%;
  height: 40px;
  background: none;
  border-radius: .2em;
  margin-top: 10px;
  border:none;
  background: rgba(255,255,255,0.5);

  padding-left: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

textarea {
  height: 100px !important;
}

.nav-logo {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  width:auto;
  height: 90px;
  z-index: 9999999999999999999999;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.rotate {
  position: absolute;
  top:-150px;
  left:-200px;
  width: 200%;
  height: 200px;
  background: darkolivegreen;
  transform: rotate(-20deg);
  z-index: 0;
}

.bg-img {
  position: absolute;
  top:-10%;
  left:0;
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: auto;
  height: 135%;
}
.bg-animation {
  animation: zoom 15s linear forwards 1;
}
.bg {
  overflow: hidden;
  position: relative;
}

@keyframes zoom {
  0%{
    transform: scale(1.3);
  }
  5%{
    transform: scale(1.2)
  }
  100%{
    transform: scale(1);
  }
}


.gradient {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

@keyframes move-up {
  0%{
    transform: translateY(30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;

  }
}


#curtain {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.no-stripe {
  text-align:center !important;
}


#background {
  background-image: radial-gradient(ellipse farthest-corner at center top, #23233f 0%, #000000 60%);
}


.no-stripe {
  background:white;
  text-align:center;
  left: 0;right: 0;
  display: block;
  margin:0;
  width: 500px;
  height: 300px;
  display: block;
  margin:0 auto;
  margin-top: 190px;
  box-shadow: 0 2px 5px 1px rgba(5, 5, 5, 0.4);




}

.no-stripe h1 {
  margin-top: 35px;
}

.loader {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:black;
  z-index: 9999999999999999999999999999999;
  pointer-events: none;
}



/* Animation */
@-webkit-keyframes loading {
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes loading {
  to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes loading {
  to { -ms-transform: rotate(360deg); }
}
@keyframes loading {
  to { transform: rotate(360deg); }
}

/* Loader (*/
#loading {

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;

  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #777;
  border-left: 4px solid #777;

  -webkit-animation: loading 1.2s infinite linear;
  -moz-animation: loading 1.2s infinite linear;
  -ms-animation: loading 1.2s infinite linear;
  animation: loading 1.2s infinite linear;

}

/* Just page styling */
body{
  background: url('https://codepen.io/images/classy_fabric.png') #333;
}
#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px;
}

.loader {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background:black;
  z-index: 9999999999;
  transition: all 500ms ease-in-out;
}

.left-logo {
  position: absolute;
  top:40px;
  left: 0px;
  right: 0;
  margin: auto;
  background:rgba(255,255,255,0.7);
  z-index: 99999999999;
  width: auto;
  height: 110px;

}


.video-div-container {
  width: 600px;
  height: 400px;
  background:rgb(61,61,61);
  margin-top: 100px;
  position: absolute;
  left: 50px;
  top:0px;
  z-index: 9999999;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,1);

}

.video-div-container2 {
  right: 50px;
  left: auto;
}

.video-div-container img {
  display: block;
  width: 150px;
  height: 150px;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;

}


